<!-- Include the navbar partial -->
<%- include ('partials/header', { isLoggedIn: isLoggedIn }) -%>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
      <div class="card mt-4"> <!-- Added "mt-4" class for top margin -->
        <div class="card-body">
          <h1 class="mb-4">Users</h1>
          <div class="row">
            <div class="col-4"><h6>name</h6></div>
            <div class="col-4"><h6>Email</h6></div>
            <div class="col-4">
              <a href="/admin/users/new">New User</a>
            </div>
          </div>
          <% for(var i=0; i < users.length; i++) { %>
            <div class="row align-items-center">
              <div class="col-4"><%= users[i].username %></div>
              <div class="col-4"><%= users[i].email_address %></div>
              <div class="col-4 d-flex align-items-center">
                <div class="">
                  <a href="/admin/users/<%= users[i]._id %>" class="mr-2">Edit</a>
                </div>
                <div class="">
                  <form action="/users/<%= users[i]._id %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="nav-link btn btn-link" type="submit">Delete</button>
                  </form>
                </div>                
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>