<!-- Include the navbar partial -->
<%- include ('partials/header', { isLoggedIn: isLoggedIn, isAdmin: isAdmin }) -%>

<div class="container">
  
  <div class="row pt-5">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-header">
          <div class="row justify-content-between align-items-center pt-2 px-4">
            <div class="col-lg-9 col-md-9 col-sm-10">
              <h1>Current Users</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 text-right">
              <!-- <a href="/admin/users/new" class="btn btn-link">Add a user</a> -->
              <a href="/admin/users/new" class="btn btn-info btn-sm mr-2">Add User</a>
            </div>
          </div>
        </div>
        
        <div class="card-body">
          <table id="datatable" class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th style="font-size: 1.2rem;">First Name</th>
                <th style="font-size: 1.2rem;">Last Name</th>
                <th style="font-size: 1.2rem;">Username</th>
                <th style="font-size: 1.2rem;">Email</th>
                <th style="font-size: 1.2rem;">Permission</th>
                <th style="font-size: 1.2rem;">Added</th>
                <th style="font-size: 1.2rem;">Action</th>

              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < users.length; i++) { %>
                <tr>
                  <td style="font-size: 1.1rem;"><%= users[i].firstname %></td>
                  <td style="font-size: 1.1rem;"><%= users[i].lastname %></td>
                  <td style="font-size: 1.1rem;"><%= users[i].username %></td>
                  <td style="font-size: 1.1rem;"><%= users[i].email_address %></td>
                  <td style="font-size: 1.1rem;"><%= users[i].permission %></td>
                  <td style="font-size: 1.1rem;">
                    <% 
                      const date = new Date(users[i].dateadded);
                      const formattedDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
                    %>
                    <%= formattedDate %>
                  </td>
                  <td>
                    <a href="/admin/users/<%= users[i]._id %>" class="btn btn-primary btn-sm mr-2">Edit</a>
                    <form action="/users/<%= users[i]._id %>" method="post" class="d-inline">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
