  <!-- Include the navbar partial -->
  <%- include ('partials/header', { isLoggedIn: isLoggedIn, isAdmin: isAdmin }) -%>

  <div class="container-fluid mt-5 mb-5 pb-5">
    <h1 class="mx-4 mt-5 mb-3">Employee Hours Report</h1>

    <form action="/pivot" method="GET">
        <label class = "text-info mx-4 pl-2" for="citySelect">Select City:</label>
        <select name="city" id="citySelect" class="py-1 pr-2 pl-2">
            <option value="Lahaina">Lahaina</option>
            <option value="Puyallup">Puyallup</option>
            <!-- Add more options based on your cities -->
        </select>
        <button type="submit" class="btn btn-info btn-sm mb-1">Filter</button>
    </form>

    <% for (const jobDesc of jobDescriptions) { %>
        <h5 class="mt-2 mx-4 text-secondary"><%= jobDesc %></h5>
        <table id="dataTable" class="table table-striped mx-4 mx-lg-1 px-4 table-bordered">
            <thead>
                <tr>
                    <th class="name-column">Name</th>
                    <th>City</th>
                    <% if (periodEnds.length > 0) { %>
                      <% for (const periodEnd of formattedPeriodEnds) { %>
                          <th><%= periodEnd %></th>
                      <% } %>
                  <% } %>
                </tr>
            </thead>
            <tbody>
              <% for (const key in data) {
                  const employeeData = data[key];
                  if (employeeData.JobDescription === jobDesc) { %>
                      <tr>
                          <td><%= employeeData.Name %></td>
                          <td><%= employeeData.City %></td>
                          <% if (periodEnds.length > 0) { %>
                              <% for (const periodEnd of formattedPeriodEnds) { %>
                                  <td><%= employeeData.PeriodEnds[periodEnd] || 0 %></td>
                              <% } %>
                          <% } %>
                      </tr>
              <%   }
              } %>
          </tbody>
          
        </table>
        <% } %>
      
  </div>
    
</body>  

</html>
